:root {
  /*--Primary--*/
  --cbyan: hsl(179, 62%, 43%);
  --brightyellow: hsl(71, 73%, 54%);

  /*--Neutral--*/

  --lightgray: hsl(204, 43%, 93%);

  --grayishblue: hsl(218, 22%, 67%);
  --white: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightgray);
  line-height: 1.6;
  font-family: "Karla", sans-serif;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 300px;
  gap: 1rem;
  background-color: var(--white);
  box-shadow: hsl(218, 22%, 87%) 0 6px 22px 12px;
  border-radius: 20px;
  margin: 20rem;
} */

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-content: center;

  /* gap: 1rem; */
  width: 570px;
  height: 830px;
  background-color: var(--white);
  /* background-color: red; */
  box-shadow: hsl(218, 22%, 87%) 0 6px 22px 12px;
  border-radius: 20px;
  margin: 5rem;
}

.upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: blue; */
  width: 100%;
  height: 270px;
  padding: 1em;
}

/* .upper {
  padding: 1em;
  grid-column: 1;
  grid-row: 1;
} */

/*  */

.down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  padding-top: 1em;
}

.left {
  padding: 0.5em;
  background-color: var(--cbyan);
  /* width: 100%;
  height: 100%; */
  border-radius: 0 0 0 0;
}

.right {
  /* width: 100%;
  height: 100%; */

  padding: 1em;
  background-color: hsl(179, 53%, 52%);
  border-radius: 0 0 20px 20px;
}

.title-card {
  color: var(--cbyan);
  font-size: 20px;
  margin-left: 20px;
  margin-top: 1em;
}

.sub-title {
  color: var(--brightyellow);
  margin-top: 1em;
  margin-left: 20px;
  font-size: 15px;
}

.pragraph {
  color: var(--grayishblue);
  margin-top: 1em;
  font-size: 15px;
  margin-left: 20px;
}

/* .down {
  padding-top: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
} */

/* .down {
  padding-top: 1em;
  width: 413px;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1rem;
  grid-column: 1;
  grid-row: 2;
} */

/* left, right */

.title {
  margin-left: 20px;
  margin-top: 1em;
  font-size: 20px;
  color: var(--lightgray);
}

.price {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0.5em;
  color: var(--lightgray);
}

.dure {
  color: rgba(255, 255, 255, 0.5);
}

p {
  font-size: 20px;
  font-weight: lighter;
  color: var(--lightgray);
}

.price-day {
  margin-left: 20px;
  margin-top: 1em;
  font-size: 18px;
  font-weight: lighter;
  color: var(--lightgray);
}

button {
  margin-left: 20px;
  margin-bottom: 1em;
  color: var(--lightgray);
  font-size: 20px;
  margin-top: 1em;
  background-color: var(--brightyellow);
  padding: 15px;
  border-style: none;
  border-radius: 5px;
  /* width: 343px; */
  width: 90%;
  box-shadow: hsla(240, 3%, 6%, 0.359) 0 12px 32px 1px;
}

.title-right {
  font-size: 20px;
  color: var(--lightgray);
  margin-left: 20px;
  margin-top: 1em;
  font-size: 20px;
}

.info {
  margin-left: 10px;
  margin-top: 0.05em;
  /* margin-bottom: 1em; */
  padding: 1em;
  font-size: 18px;
  font-weight: lighter;
  color: var(--lightgray);
  list-style: none;
  font-weight: lighter;
  line-height: 19px;
}

@media (min-width: 700px) {
  main {
    width: 570px;
    height: 500px;
  }

  .down {
    flex-direction: row;

    width: 570px;
    /* height: 500px; */
  }

  .upper {
    width: 550px;
    height: 200px;
  }
  /* main {
    width: 550px;
    height: 460px;
  } */

  button {
    width: 270px;
  }

  .left {
    border-radius: 0 0 0 20px;
    height: 280px;
  }

  .right {
    border-radius: 0 0 20px 0;
    height: 280px;
  }

  .info {
    margin-left: 10px;
    margin-top: 0.05em;
    /* margin-bottom: 1em; */
    padding: 0.5em;
    font-size: 16px;
    font-weight: lighter;
    color: var(--lightgray);
    list-style: none;
    font-weight: lighter;
    line-height: 18px;
  }

  .price {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0.5em;
    color: var(--lightgray);
  }

  .price-day {
    margin-left: 20px;
    margin-top: 1em;
    font-size: 18px;
    font-weight: lighter;
    color: var(--lightgray);
  }
}
